<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => 'Ad Hoc Option Types'} %>

<% content_for :page_title do %>
  &ndash;&nbsp;<%= Spree.t(:attached_option_types).downcase %>
<% end %>

<% content_for :page_actions do %>
  <ul class="tollbar inline-menu">
    <li>
      <%= button_link_to Spree.t(:new_attached_option_types), new_admin_product_attached_option_type_path(@parent), :icon => 'icon-plus' %>
    </li>
  </ul>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:presentation) %></th>
      <th class='actions'></th>
    </tr>
  </thead>

<% @attached_option_types.each do |attached_option_type| %>
  <tr>
    <td><%= attached_option_type.name %></td>
    <td><%= attached_option_type.presentation %></td>
    <td class="actions">
      <%= link_to_delete attached_option_type, url: admin_product_attached_option_type_path(@parent, attached_option_type), no_text: true %>
    </td>
  </tr>
<% end %>
</table>

<div id="new-attached-options"></div>

<div class="field">
  <%= link_to_with_icon 'icon-plus', Spree.t(:attach_option_value), '#', class: 'attach-option-value button' %>
</div>

<%# link_to 'New Attached option type', new_spree_admin_attached_option_type_path %>
