<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => 'Ad Hoc Option Types'} %>

<% content_for :page_actions do %>
  <ul class="tollbar inline-menu">
    <li>
      <%= button_link_to Spree.t(:back_to_attached_option_types), admin_product_attached_option_types_path(@parent), :icon => 'icon-plus' %>
    </li>
  </ul>
<% end %>

<h2>
  <%= Spree.t(:new_attached_option_types) %>
</h2>

<%= form_for [:admin, @parent, @attached_option_type] do |f| %>
  <table>
    <thead>
      <tr>
        <th colspan='2'><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:presentation) %></th>
      </tr>
    </thead>
    <tbody>
      <% @option_types.each do |option_type| %>
        <tr>
          <td class="no-border"><%= check_box_tag "product[option_types][]", option_type.id %></td>
          <td><%= option_type.name %></td>
          <td><%= option_type.presentation%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
